# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Assets (using Cloudinary instead)
src/assets/images/

# Temporary files (if not needed in repo)
# *.json # Re-evaluate if other JSON files need committing
# *.txt # Removed to allow robots.txt

# Deployment related
.netlify/

# Temporary files
temp/
~/
