@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* react-masonry-css styles */
.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* Adjust based on column gap */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1rem; /* Column gap */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* Apply margin to items within columns */
  margin-bottom: 1rem; /* Row gap */
}
